AUTHORIZATIONPRIVATEHOST=nginx
AUTHORIZATIONPRIVATEPORT=8080
AUTH_ENABLED=false
BUSINESS_DOMAIN_ENABLED=false
DB_TYPE=MariaDB
KAFKAHOST=__KAFKA_HOST__
KAFKAPASS=
KAFKAPORT=__KAFKA_PORT__
KAFKAUSER=
OAUTHADMINHOST=nginx
OAUTHADMINPORT=8080
OAUTHPUBLICHOST=nginx
OAUTHPUBLICPORT=8080
OPENSEARCHRED=__OPENSEARCH_HOST__
OPENSEARCHWRITE=__OPENSEARCH_HOST__
OPENSEARCH_HOST=__OPENSEARCH_HOST__
OPENSEARCH_PASS=
OPENSEARCH_PORT=__OPENSEARCH_PORT__
OPENSEARCH_USER=
RDSDBNAME=__MARIADB_DATABASE__
RDSHOST=__MARIA_HOST__
RDSPASS=__MARIADB_PASSWORD__
RDSPORT=__MARIA_PORT__
RDSUSER=__MARIADB_USER__
REDISCLUSTERMODE=false
REDISHOST=__REDIS_SENTINEL_HOST__
REDISPASS=
REDISPORT=6379
REDISUSER=
SENTINELMASTER=
SENTINELPASS=
SENTINELUSER=
TEXTRERANKERMAPPING="{}"
TEXTVECTORMAPPING="{}"
USERMANAGEMENTPRIVATEHOST=nginx
USERMANAGEMENTPRIVATEPORT=8080
USERMANAGEMENTPUBLICHOST=nginx
USERMANAGEMENTPUBLICPORT=8080
VLMVECTORMAPPING="{}"
