depServices:
  mongodb: {}
  opensearch: {}
  rds:
    admin_key: ""
    host: __MARIA_HOST__
    hostRead: __MARIA_HOST__
    mgmt_host: ""
    mgmt_port: 8888
    password: ""
    port: 3306
    portRead: 3306
    source_type: internal
    type: mariadb
    user: anyshare
  redis: {}
