db:
  host: "127.0.0.1"
  port: 3320
  user_name: ""
  password: ""
  db_name: "kweaver"
  charset: "utf8mb4"
redis:
  connectInfo:
    username: "root"
    password: ""
    host: ""
    port: 26379
    masterHost: ""
    masterPort: 26379
    slaveHost: ""
    slavePort: 26379
    sentinelHost: "redis-sentinel.redis.svc.cluster.local"
    sentinelPort: 26379
    sentinelUsername: "root"
    sentinelPassword: ""
    masterGroupName: "mymaster"
