DB_TYPE=MYSQL
DUAL_STACK=false
EMBEDDING_DIMENSION=768
EMBEDDING_MODEL=
EMBEDDING_MODEL_BASE_URL=
EMBEDDING_MODEL_DIMS=768
EMB_URL=
GRAPHDB_HOST=
GRAPHDB_PASSWORD=
GRAPHDB_PORT=9669
GRAPHDB_READ_ONLY_PASSWORD=
GRAPHDB_READ_ONLY_USER=
GRAPHDB_TYPE=nebulaGraph
GRAPHDB_USER=
LLM_BASE_URL=
LLM_MODEL=
OPENSEARCHRED=opensearch-read
OPENSEARCHWRITE=opensearch-write
OPENSEARCH_HOST=opensearch-master
OPENSEARCH_PASS=xxx
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
RDSDBNAME=kweaver
RDSHOST=mariadb-mariadb-cluster.resource
RDSPASS=xxx
RDSPORT=3330
RDSUSER=anyshare
REDISCLUSTERMODE=sentinel
REDISHOST=proton-redis-proton-redis-sentinel.resource
REDISPASS=xxx
REDISPORT=26379
REDISUSER=root
RERANK_MODEL=
RERANK_URL=
SENTINELMASTER=mymaster
SENTINELPASS=xxx
SENTINELUSER=root
