ACCESS_ADDRESS_HOST=
ACCESS_ADDRESS_PATH=
ACCESS_ADDRESS_PORT=
ACCESS_ADDRESS_SCHEMA=
ACTION_CONFIG_YAML=/conf/action_config.yaml
AGENTAPP_HOST=agent-app
AGENTAPP_PORT=30777
AGENTFACTORY_HOST=agent-factory
AGENTFACTORY_PORT=13020
AGENTOPERATORINTEGRATION_HOST=agent-operator-integration
AGENTOPERATORINTEGRATION_PORT=9000
ANYDATA_APPID=
ANYDATA_HOST=
ANYDATA_MODEL=
ANYDATA_PORT=8444
ANYDATA_PROTOCOL=https
API_PREFIX=/api/automation/v1
API_SERVER_PORT=8680
API_SERVER_PRIVATE_PORT=8682
APPSTORE_PUBLIC_HOST=appstore-public
APPSTORE_PUBLIC_PORT=7010
AUTHENTICATION_PRIVATE_HOST=authentication-private
AUTHENTICATION_PRIVATE_PORT=30110
AUTHENTICATION_PUBLIC_HOST=authentication-public
AUTHENTICATION_PUBLIC_PORT=30110
AUTHORIZATION_PRIVATE_HOST=authorization-private
AUTHORIZATION_PRIVATE_PORT=30920
BUSINESS_DOMAIN_HOST=business-system-service
BUSINESS_DOMAIN_PORT=80
CODERUNNER_API_PORT=8681
CODERUNNER_API_PREFIX=/api/coderunner
CODERUNNER_PRIVATE_HOST=coderunner-private
CODERUNNER_PRIVATE_PORT=8680
COGNITIVEASSISTANT_HOST=cognitive-assistant
COGNITIVEASSISTANT_PORT=8888
CONTENTAUTOMATION_PRIVATE_HOST=flow-automation-private
CONTENTAUTOMATION_PRIVATE_PORT=8680
CONTENTAUTOMATION_PUBLIC_HOST=flow-automation
CONTENTAUTOMATION_PUBLIC_PORT=8680
CONTENTPIPELINE_PRIVATE_HOST=contentpipeline-private
CONTENTPIPELINE_PRIVATE_PORT=9002
DATAFLOWTOOLS_PRIVATE_HOST=dataflowtools-private
DATAFLOWTOOLS_PRIVATE_PORT=8683
DB_HOST=mariadb-mariadb-master.resource
DB_NAME=kweaver
DB_PORT=3330
DB_TYPE=mysql
DB_USER=anyshare
DEBUG=false
DEPLOYSERVICE_HOST=deploy-service
DEPLOYSERVICE_PORT=9703
DOCSET_PRIVATE_HOST=docset-private
DOCSET_PRIVATE_PORT=32597
DOCSET_PUBLIC_HOST=docset-public
DOCSET_PUBLIC_PORT=32596
DOCSHARE_PRIVATE_HOST=doc-share-private
DOCSHARE_PRIVATE_PORT=30920
DOCSHARE_PUBLIC_HOST=doc-share-public
DOCSHARE_PUBLIC_PORT=30920
DOCUMENT_PRIVATE_HOST=document-private
DOCUMENT_PRIVATE_PORT=30920
DOCUMENT_PUBLIC_HOST=document-public
DOCUMENT_PUBLIC_PORT=30920
DOC_CONVERT_GOTENBERG_PORT=3000
DOC_CONVERT_HOST=doc-convert-private
DOC_CONVERT_TIKA_PORT=9998
DP_DATASOURCE_HOST=data-connection
DP_DATASOURCE_PORT=8098
DP_DATASOURCE_PROTOCOL=http
DUMPLOG_CRONJOB_EXPRESSION=0 */12 * * *
DUMPLOG_DAG_THRESHOLD=1000000
DUMPLOG_KEEP_HISTORY=7d
DUMPLOG_TASK_THRESHOLD=2000000
ECOCONFIG_PRIVATE_HOST=ecoconfig-private.anyshare
ECOCONFIG_PRIVATE_PORT=32128
ECOCONFIG_PUBLIC_HOST=ecoconfig-public.anyshare
ECOCONFIG_PUBLIC_PORT=32127
ECOTAG_PRIVATE_HOST=ecotag-private
ECOTAG_PRIVATE_PORT=32157
ECRON_HOST=ecron-management
ECRON_PORT=32345
EFAST_PRIVATE_HOST=efast-private
EFAST_PRIVATE_PORT=9123
EFAST_PUBLIC_HOST=efast-public
EFAST_PUBLIC_PORT=9123
EMETADATA_HOST=emetadata
EMETADATA_PORT=30156
FASTTEXTANALYSIS_HOST=fast-text-analysis
FASTTEXTANALYSIS_PORT=9528
INTELLIINFO_PRIVATE_HOST=intelliinfo-private
INTELLIINFO_PRIVATE_PORT=9002
INTELLIINFO_PUBLIC_HOST=intelliinfo-public
INTELLIINFO_PUBLIC_PORT=9000
KAFKA_ADMIN_CLIENT_OPERATION_TIMEOUT_MS=60000
KAFKA_ADMIN_CLIENT_REQUEST_TIMEOUT_MS=30000
KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_HEARTBEAT_INTERVAL_MS=10000
KAFKA_MAX_POLL_INTERVAL_MS=300000
KAFKA_RETENTION_SIZE=-1
KAFKA_RETENTION_TIME=7d
KAFKA_RETRIES=5
KAFKA_RETRY_BACKOFF_MS=500
KAFKA_SESSION_TIMEOUT_MS=45000
KAFKA_SOCKET_TIMEOUT_MS=60000
KAFKA_TRANSACTION_TIMEOUT_MS=60000
KCMC_HOST=kc-mc
KCMC_PORT=7201
KCMC_PRIVATE_HOST=kc-mc-private
KCMC_PRIVATE_PORT=7203
KNKNOWLEDGEDATA_HOST=kn-knowledge-data
KNKNOWLEDGEDATA_PORT=6475
LANG=en_US.UTF-8
MDL_DATAMODEL_HOST=mdl-data-model
MDL_DATAMODEL_PORT=13020
MDL_DATAPIPELINE_HOST=flow-stream-data-pipeline
MDL_DATAPIPELINE_PORT=13012
MDL_UNIQUERY_HOST=mdl-uniquery
MDL_UNIQUERY_PORT=13011
METADATA_PRIVATE_HOST=metadata-private
METADATA_PRIVATE_PORT=30159
METADATA_PUBLIC_HOST=metadata-public
METADATA_PUBLIC_PORT=30158
MFMODELAPI_HOST=mf-model-api
MFMODELAPI_PORT=9898
MFMODELMANAGER_HOST=mf-model-manager
MFMODELMANAGER_PORT=9898
MONGODB_DIRECT=false
MONGODB_DSNDB=anyshare
MONGODB_HOST=mongodb-mongodb-0.mongodb-mongodb.resource
MONGODB_NAME=automation
MONGODB_POOL_MAX=5
MONGODB_POOL_MIN=1
MONGODB_PORT=28000
MONGODB_REPLICASET=rs0
MONGODB_SSL=false
MONGODB_USER=anyshare
MQ_CONNECTORTYPE=nsq
MQ_HOST=proton-mq-nsq-nsqd.resource
MQ_LOOKUPD_HOST=proton-mq-nsq-nsqlookupd.resource
MQ_LOOKUPD_PORT=4161
MQ_PORT=4151
MQ_PROTOCOL=sasl_plaintext
OAUTH_ADMIN_HOST=hydra-admin
OAUTH_ADMIN_PORT=4445
OAUTH_ADMIN_PREFIX=/admin
OAUTH_CLIENT_NAME=content-automation
OAUTH_PUBLIC_HOST=hydra-public
OAUTH_PUBLIC_PORT=4444
OCR_PRIVATE_HOST=192.168.152.11
OCR_PRIVATE_PORT=12349
OPENSEARCH_HOST=opensearch-master.resource
OPENSEARCH_PASSWORD=xxxxxx
OPENSEARCH_PORT=9200
OPENSEARCH_PROTOCOL=http
OPENSEARCH_USER=admin
OSSGATEWAYBACKEND_HOST=oss-gateway-backend
OSSGATEWAYBACKEND_PORT=8080
OSSGATEWAY_PRIVATE_HOST=ossgatewaymanager-private
OSSGATEWAY_PRIVATE_PORT=9002
PERSONALCONFIG_PRIVATE_HOST=personal-config-private
PERSONALCONFIG_PRIVATE_PORT=8082
PERSONALCONFIG_PUBLIC_HOST=personal-config
PERSONALCONFIG_PUBLIC_PORT=8081
REDIS_CLUSTER_MODE=sentinel
REDIS_HOST=proton-redis-proton-redis-sentinel.resource
REDIS_MASTER_GROUPNAME=mymaster
REDIS_PORT=26379
SANDBOX_CPU=1
SANDBOX_DISK=1Gi
SANDBOX_HOST=sandbox-control-plane
SANDBOX_MEMORY=512Mi
SANDBOX_PORT=8000
SANDBOX_TEMPLATE_ID=python-basic
SANDBOX_TIMEOUT=30
SERVER_AUTH_ENABLED=true
SERVER_BUSINESSDOMAIN_ENABLED=true
SERVER_DAG_INSTANCE_EVENT_ARCHIVE_POLICY=successOnly
SERVER_DAG_INSTANCE_EVENT_MAX_INLINE_SIZE=262144
SERVER_DB_TYPE=mysql
SERVER_DEBUG_EXECUTOR_COUNT=300
SERVER_DELETE_EXPIRED_TASK_CACHE_CRON=0 3 * * *
SERVER_DELETE_EXT_DATA_CRON=0 1 * * *
SERVER_EDITION=community
SERVER_EXECUTOR_TIMEOUT=600
SERVER_FLOW_FILE_DOWNLOAD_BATCH_SIZE=10
SERVER_FLOW_FILE_DOWNLOAD_MAX_FILE_SIZE=1.048576e+08
SERVER_FLOW_FILE_DOWNLOAD_POLL_INTERVAL=5
SERVER_FLOW_FILE_DOWNLOAD_TIMEOUT=300
SERVER_FLOW_FILE_DOWNLOAD_WORKER_COUNT=3
SERVER_HIGHEST_EXECUTOR_COUNT=200
SERVER_HIGH_EXECUTOR_COUNT=200
SERVER_LISTINS_COUNT=500
SERVER_LOWEST_EXECUTOR_COUNT=200
SERVER_LOW_EXECUTOR_COUNT=200
SERVER_MEDIUM_EXECUTOR_COUNT=200
SERVER_MONGO_MAX_INLINE_SIZE=262144
SERVER_PARSER_COUNT=200
SERVER_SCHEDULE_TIMEOUT=150
SERVER_STORAGE_BACKEND=ossgatewaybackend
SERVER_STORAGE_PREFIX=29376f25-1aad-4a03-91d4-901c5ee4b905
SERVICE_LANG=zh_CN
SHAREMGNT_HOST=sharemgnt
SHAREMGNT_PORT=9600
SPEECHMODEL_PRIVATE_HOST=127.0.0.1
SPEECHMODEL_PRIVATE_PORT=8680
STRUCTUREEXTRACTOR_BACKEND=vlm-http-client
STRUCTUREEXTRACTOR_FILE_HOST=192.168.173.19
STRUCTUREEXTRACTOR_FILE_PORT=8090
STRUCTUREEXTRACTOR_MINERU_BASE_URL=https://mineru.net
STRUCTUREEXTRACTOR_MINERU_TOKEN=
STRUCTUREEXTRACTOR_OUTPUT_DIR=/output
STRUCTUREEXTRACTOR_PRIVATE_HOST=192.168.102.250
STRUCTUREEXTRACTOR_PRIVATE_PORT=18089
STRUCTUREEXTRACTOR_SERVER_URL=http://127.0.0.1:8088
STRUCTUREEXTRACTOR_USE_MINERU=false
T4TH_CONNECTORTYPE=ocr
T4TH_ENABLE=false
T4TH_HOST=127.0.0.1
T4TH_PORT=100
T4TH_PROTOCOL=http
TELEMETRY_LOG_LEVEL=warn
TELEMETRY_LOG_URL=http://nginx:13031/api/feed_ingester/v1/jobs/dip-o11y-log/events
TELEMETRY_SERVER_NAME=dataflow
TELEMETRY_SERVER_VERSION=0.7.0
TELEMETRY_TRACE_ENABLED=false
TELEMETRY_TRACE_URL=http://nginx:13031/api/feed_ingester/v1/jobs/dip-o11y-trace/events
TIKA_HOST=aladdin-tika
TIKA_PORT=9998
TZ=Asia/Shanghai
UIE_PRIVATE_HOST=127.0.0.1
UIE_PRIVATE_PORT=8680
USERMANAGEMENT_PRIVATE_HOST=user-management-private
USERMANAGEMENT_PRIVATE_PORT=30980
WARNING_INTERNAL=30m
