CLEANUP_INTERVAL_SECONDS=300
CONTROL_PLANE_URL=http://sandbox:8000
DATABASE_URL=__SANDBOX_DATABASE_URL__
DB_CHARSET=utf8mb4
DB_DATABASE=__MARIADB_DATABASE__
DB_HOST=__MARIA_HOST__
DB_HOST_READ=__MARIA_HOST__
DB_MAX_CONNECTIONS=30
DB_MAX_READ_CONNECTIONS=30
DB_PASSWORD=__MARIADB_PASSWORD__
DB_PORT=__MARIA_PORT__
DB_PORT_READ=__MARIA_PORT__
DB_READ_TIMEOUT=10
DB_TIMEOUT=10
DB_TYPE=MariaDB
DB_USER=__MARIADB_USER__
DB_WRITE_TIMEOUT=10
DEBUG=false
DEFAULT_CPU=1
DEFAULT_DISK=1Gi
DEFAULT_MEMORY=512Mi
DEFAULT_TEMPLATE_IMAGE=__SANDBOX_TEMPLATE_IMAGE__
DEFAULT_TIMEOUT=300
DISABLE_BWRAP=true
ENVIRONMENT=staging
IDLE_THRESHOLD_MINUTES=-1
KUBERNETES_NAMESPACE=compose
MAX_LIFETIME_HOURS=-1
MAX_TIMEOUT=3600
PYTHONUNBUFFERED=1
