API_SERVER_PORT=8683
API_SERVER_PUBLIC_PORT=8682
AUTH_ENABLED=true
CODE_RUNNER_PRIVATE_HOST=coderunner-private
CODE_RUNNER_PRIVATE_PORT=8680
DB_HOST=mariadb-mariadb-master.resource
DB_NAME=kweaver
DB_PORT=3330
DB_TYPE=MariaDB
DB_USER=anyshare
DEBUG=false
DOCSET_PRIVATE_HOST=docset-private
DOCSET_PRIVATE_PORT=32597
LANG=en_US.UTF-8
LOGOUT=stdout
LOG_LEVEL=INFO
OAUTH_ADMIN_HOST=hydra-admin
OAUTH_ADMIN_PORT=4445
OPENDOC_PUBLIC_HOST=open-doc-public
OPENDOC_PUBLIC_PORT=30998
OSSGATEWAY_PRIVATE_HOST=ossgatewaymanager-private
OSSGATEWAY_PRIVATE_PORT=9002
PYTHON_MAX_WORKERS=300
REDIS_CLUSTER_MODE=sentinel
REDIS_HOST=proton-redis-proton-redis-sentinel.resource
REDIS_MASTER_GROUPNAME=mymaster
REDIS_PORT=26379
SERVICE_LANG=zh_CN
T4TH_CONNECTORTYPE=ocr
T4TH_ENABLE=false
T4TH_HOST=127.0.0.1
T4TH_PORT=100
T4TH_PROTOCOL=http
TZ=Asia/Shanghai
USERMANAGEMENT_PRIVATE_HOST=user-management-private
USERMANAGEMENT_PRIVATE_PORT=30980
