#数据库
db_addr: "mariadb-mariadb-master.resource"
db_port: 3330
user_name: "anyshare"
user_pwd: "xxxxxx"
db_name: "kweaver"
system_id: ""
db_format: "utf8"
max_open_conns: 30
timeout: 10
read_timeout: 10
write_timeout: 10
