auth:
  mechanism: ""
  password: xxx
  username: anyrobot
connectorType: kafka
mqHost: __KAFKA_HOST__
mqLookupdHost: ""
mqLookupdPort: 0
mqPort: 9097
mqType: kafka
protocol: plaintext
tenant: default
