db:
  user_name: anyshare
  user_pwd: "xxx"
  db_host: mariadb-mariadb-cluster.resource
  db_port: 3330
  db_host_read: mariadb-mariadb-cluster.resource
  db_port_read: 3330
  db_name: kweaver
  db_charset: utf8mb4
  timeout: 10
  read_timeout: 10
  write_timeout: 10
  max_open_conns: 30
  max_open_read_conns: 30
  max_idle_conns: 10
  conn_max_lifetime: 500
redis:
  connect_type: "sentinel"
  password: "xxx"
  username: "root"
  db: 3

  # standalone 单机模式
  host: ""
  port: ""

  # sentinel 模式配置
  master_group_name: "mymaster"
  sentinel_host: "proton-redis-proton-redis-sentinel.resource"
  sentinel_port: "26379"
  sentinel_username: "root"
  sentinel_password: "xxx"

  # master-slave 主从模式
  master_host: ""
  master_port: "6379"
  slave_host: ""
  slave_port: "6379"

model_factory:
  llm:
    api_key: "xxx"
